@font-face {
    font-family: MHLogo;
    src: url(../fonts/Monster\ hunter\ type\ 2.ttf);
}

#pre-loader {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    z-index: 250;
    font-family: MHLogo;
    font-size: 90px;
}

#pre-loader span {
    position: relative;
    top: 20px;
    animation: bounce 0.5s ease infinite alternate;
}

@keyframes bounce {
    100% {
        top: -20px;
    }
}

#pre-loader span:nth-of-type(2) {
    animation-delay: 0.1s;
}

#pre-loader span:nth-of-type(3) {
    animation-delay: 0.2s;
}

#pre-loader span:nth-of-type(4) {
    animation-delay: 0.3s;
}

#pre-loader span:nth-of-type(5) {
    animation-delay: 0.4s;
}

#pre-loader span:nth-of-type(6) {
    animation-delay: 0.5s;
}

#pre-loader span:nth-of-type(7) {
    animation-delay: 0.6s;
}

#pre-loader span:nth-of-type(8) {
    animation-delay: 0.7s;
}

#pre-loader span:nth-of-type(9) {
    animation-delay: 0.8s;
}

#pre-loader span:nth-of-type(10) {
    animation-delay: 0.9s;
}

#pre-loader span:nth-of-type(11) {
    animation-delay: 1s;
}