<!-- Logo -->
<div class="logo-wrapper">
    <div class="logo">
        <img class="logo-image" src="../images/nav/logo.png">
        <div class="logo-text">
            <p>THE</p>
            <p>HEAVENLY</p>
            <p>PAW</p>
        </div>
    </div>
    <div class="logo-bottom">
        <div class="logo-bottom-left">
            <a href="">TO THE CANTEEN!<img src="../images/nav/arrow-white.png"></a> 
        </div>    
        <div class="logo-bottom-right">
            <div class="award-1">
                <div class="aw-imgs">
                    <img src="../images/nav/white-paw-print.svg">
                    <img src="../images/nav/white-paw-print.svg">
                </div>
                <p>MEOWCHELIN</p>
            </div>
            <div class="award-2">
                <div class="line-1">MH</div>
                <div class="line-2">WORLD'S</div>
                <div class="line-3">50</div>
                <div class="line-4">BEST</div>
                <div class="line-5">RESTAURANT</div>
            </div>
            <div class="award-3">The New World Times</div>
        </div>
    </div>
</div>